<app-header></app-header>


<div fxLayout="row">

    <div fxFlex="20" style="background-color:antiquewhite">

        <div fxLayout="column">
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </div>
    </div>
    <div fxFlex="60" style="background-color: blue">
        <p>b</p>
        <!--<div *ngFor="let user of userProfile | async">
            <p class="user-txt">{{userProfile.designation | async}}</p>
            <p class="name">user by: <strong>{{userProfile.name | async}}</strong></p>
        </div>-->

    </div>
    <div fxFlex style="background-color:green">
        <p>c</p>
    </div>

</div>



<!-- fxLayoutAlign="end center"-->
        <!--<div *ngFor="let i of userProfile">
                    app-header
            </div>-->
