<app-header></app-header>


<div fxLayout="row">

    <div fxFlex="20" style="background-color:antiquewhite">

        <div fxLayout="column">
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
            <p>a</p>
        </div>
    </div>
    <div fxFlex="60" style="background-color: blue">
        <p>b</p>
    </div>
    <div fxFlex style="background-color:green">
        <p>c</p>
    </div>

</div>



<!-- fxLayoutAlign="end center"-->